@model Payment

@{
    ViewData["Title"] = "Confirmar";
}

<section>
    <h1>Simulação do Pagamento </h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Razão Social:
            </dt>
            <dd class="col-sm-10">
                @Model.Taxpayer.CompanyName
            </dd>
            <dt class="col-sm-2">
                Benefício:
            </dt>
            <dd class="col-sm-10">
                @Model.Benefit.Name
            </dd>
            <dt class="col-sm-2">
                Valor Inicial
            </dt>
            <dd class="col-sm-10">
                @Model.InitialValue
            </dd>
            <dt class="col-sm-2">
                Valor com Desconto (@Model.Benefit.DiscountPercentage %) :
            </dt>
            <dd class="col-sm-10">
                @Model.FinalValue
            </dd>
        </dl>
    </div>


    <a asp-action="Index" class="button-back">Voltar</a>
</section>
